:root {
    --base-unit: 4px;
    --base-half-unit: calc(var(--base-unit) / 2);

    /* typography*/

    --font-family-primary: 'Inter', sans-serif;
    --font-family-weight-base: 500;
    --font-family-weight-light: 400;
    --font-family-weight-bold: 600;

    /* spacing */

    --space-base-unit: var(--base-unit);

    --space-0: calc(var(--space-base-unit) * 1);
    --space-1: calc(var(--space-base-unit) * 2);
    --space-2: calc(var(--space-base-unit) * 4);
    --space-3: calc(var(--space-base-unit) * 6);
    --space-4: calc(var(--space-base-unit) * 8);
    --space-6: calc(var(--space-base-unit) * 10);
    --space-7: calc(var(--space-base-unit) * 12);
    --space-8: calc(var(--space-base-unit) * 16);

    /* color */

    --color-gray-0: #F8F7F9;
    --color-gray-1: #F2F2F2;
    --color-gray-2: #F3F2F5;
    --color-gray-3: #F3F2F5;
    --color-gray-4: #CFD8E5;
    --color-gray-5: #C0CAD7;
    --color-gray-6: #A6B3C7;
    
    --color-blue-0: #CEE7FE;
    --color-blue-1: #99CEF0;
    --color-blue-2: #455A79;
    --color-blue-3: #344765;
    --color-blue-4: #242C39;
    --color-blue-5: #173074;
    --color-blue-6: #2E5FE8;
    --color-blue-7: #617798;
    --color-blue-8: #B7D9F8;

    --color-red-0: #FFEFEF;
    --color-red-1: #CC1010;

    --color-green-0: #DCFAEC;
    --color-green-1: #0B752E;

    /* border */
    --border-radius-sm: calc(var(--base-unit) * 1);
    --border-radius-md: calc(var(--base-unit) * 2);
    --border-radius-lg: calc(var(--base-unit) * 3);

    /*trasition */

    --transition-quick: .3s ease-in-out;
}
